<div class="row">
  <span class="span6">
    <h2>Recombiner: <%= @recombiner.name %></h2>
  </span>
  <span class="span3">
    <p class="text-right">
      <% if current_user.editor || current_user.admin %>
        <%= link_to "Edit", edit_recombiner_path(@recombiner), class: "btn btn-small btn-primary" %>
        <%= link_to "Delete", @recombiner, data: { confirm: "Are you sure you want to permanently delete this Recombiner?" }, class: "btn btn-small btn-danger", method: :delete %>
      <% end %>
    </p>
  </span>
</div>

<table class="table table-striped" width=75%>
  <tr>
    <td width=30%><B>Inspector:</B></td><td width=70%><%= @recombiner.inspector %></td>
  </tr>
  <tr>
    <td width=30%><B>Verification:</B></td><td width=70%><%= @recombiner.verification ? "Initial" : "Periodic" %></td>
  </tr>
  <tr>
    <td width=30%><B>Test Instrument:</B></td><td width=70%><%= @recombiner.test_instrument %></td>
  </tr>
  <tr>
    <td width=30%><B>Model:</B></td><td width=70%><%= @recombiner.recombiner_model %></td>
  </tr>
  <tr>
    <td width=30%><B>MFG:</B></td><td width=70%><%= @recombiner.mfg %></td>
  </tr>
</table>

<table class="table table-striped">
  <tr>
    <th class="c">Re-Combiner Exterior Image</th><th class="c">Re-Combiner Interior Image</th><th class="c">Re-Combiner FLIR Image</th>
  </tr>
  <tr>
    <td class="c">
  <%= link_to image_tag(@recombiner.recombiner_exterior_pic_url(:thumb).to_s), @recombiner.recombiner_exterior_pic_url.to_s %>
    </td>
    <td class="c">
  <%= link_to image_tag(@recombiner.recombiner_interior_pic_url(:thumb).to_s), @recombiner.recombiner_interior_pic_url.to_s %>
    </td>
    <td class="c">
  <%= link_to image_tag(@recombiner.recombiner_flir_pic_url(:thumb).to_s), @recombiner.recombiner_flir_pic_url.to_s %>
    </td>
  </tr>
</table>  

<table class="table table-striped" border=1>
  <tr>
    <th class="ckk">Combiner:</th><th class="smallck">Megger Test:</th><th class="smallck" width="300">Comments:</th><th class="smallck">Voltage:</th><th class="smallck">Test Voltage:</th><th class="smallck">POS:</th><th class="smallck">NEG:</th>
  </tr>
  <% @recombiner.pv_array_tests.each do |pv_array_test| %>
    <tr>
      <td class="b"><%= link_to pv_array_test.name, pv_array_test %></td><td class="c"><%= pv_array_test.megger_test %></td><td class="small"><%= pv_array_test.comments %></td><td class="c"><%= pv_array_test.voltage %></td><td class="c"><%= pv_array_test.test_voltage %></td><td class="c"><%= pv_array_test.pos %></td><td class="c"><%= pv_array_test.neg %></td>
    </tr>
  <% end %>
</table>
<%= link_to "New PV Array Test", new_pv_array_test_path(recombiner_id: @recombiner.id), class: "btn btn-small btn-primary" %>
