
<div class="row">
    <span class="span3">
    <%= form_for @string_test do |f| %>
    <table class="table table-striped" border="1">
      <tr>
        <th class="smallck" colspan="2">String ID:</th>
          <td class="smallck"><%= f.text_field :name, placeholder: "Name", style: 'font-size: 10px; height: 10px; width: 60px;' %></td>
      </tr>
      <tr>
        <th class="small" rowspan="2" width=75px>Array</th>
        <th class="small" width=80px>Module</th>
          <td class="smallc"><%= f.text_field :array_module, placeholder: "Module", style: 'font-size: 10px; height: 10px; width: 60px;' %></td>
      </tr>
        <tr>
          <th class="small">Quantity</th>

            <td class="smallc"><%= f.text_field :array_quantity, placeholder: "Quantity", style: 'font-size: 10px; height: 10px; width: 60px;' %></td>

        </tr>
      <tr>
        <th class="small" rowspan="2">Array Parameters</th>
        <th class="small">Voc (stc)</th>
          <td class="smallc"><%= f.text_field :array_parameters_voc, placeholder: "VOC", style: 'font-size: 10px; height: 10px; width: 60px;' %></td>
      </tr>
        <tr>
          <th class="small">Isc (stc)</th>

            <td class="smallc"><%= f.text_field :array_parameters_isc, placeholder: "Isc", style: 'font-size: 10px; height: 10px; width: 60px;' %></td>

        </tr>
      <tr>
        <th class="small" rowspan="4">String Over-Current Protective Device</th>
        <th class="small">Type</th>
          <td class="smallc"><%= f.text_field :string_type, placeholder: "Type", style: 'font-size: 10px; height: 10px; width: 60px;' %></td>
      </tr>
        <tr>
          <th class="small">Rating (A)</th>

            <td class="smallc"><%= f.text_field :string_rating, placeholder: "Rating", style: 'font-size: 10px; height: 10px; width: 60px;' %></td>

        </tr>
        <tr>
          <th class="small">D Rating (V)</th>

            <td class="smallc"><%= f.text_field :string_d_rating, placeholder: "D Rating", style: 'font-size: 10px; height: 10px; width: 60px;' %></td>

        </tr>
        <tr>
          <th class="small">Capacity (ka)</th>

            <td class="smallc"><%= f.text_field :string_capacity, placeholder: "Capacity", style: 'font-size: 10px; height: 10px; width: 60px;' %></td>

        </tr>
      <tr>
        <th class="small" rowspan="3">Wiring</th>
        <th class="small">Type</th>
          <td class="smallc"><%= f.text_field :wiring_type, placeholder: "Type", style: 'font-size: 10px; height: 10px; width: 60px;' %></td>
      </tr>
      <tr>
        <th class="small">Insulation</th>
          <td class="smallc"><%= f.text_field :wiring_insulation, placeholder: "Insulation", style: 'font-size: 10px; height: 10px; width: 60px;' %></td>
      </tr>
      <tr>
        <th class="small">Size</th>
          <td class="smallc"><%= f.text_field :wiring_size, placeholder: "Size", style: 'font-size: 10px; height: 10px; width: 60px;' %></td>
      </tr>
      <tr>
        <th class="small" rowspan="4">String Test</th>
        <th class="small">Voc (V)</th>
          <td class="smallc"><%= f.text_field :string_test_voc, placeholder: "Test Voc", style: 'font-size: 10px; height: 10px; width: 60px;' %></td>
      </tr>
        <tr>
          <th class="small">Isc (A)</th>

            <td class="smallc"><%= f.text_field :string_test_isc, placeholder: "Test Isc", style: 'font-size: 10px; height: 10px; width: 60px;' %></td>

        </tr>
        <tr>
          <th class="small">Irradiance</th>

            <td class="smallc"><%= f.text_field :string_test_irradiance, placeholder: "Test Irradiance", style: 'font-size: 10px; height: 10px; width: 60px;' %></td>

        </tr>
        <tr>
          <th class="small">Voltage</th>

            <td class="smallc"><%= f.text_field :string_test_voltage, placeholder: "Test Voltage", style: 'font-size: 10px; height: 10px; width: 60px;' %></td>

        </tr>
      <tr>
        <th class="small" rowspan="3">Array Insulation Resistance</th>
        <th class="small">Test Voltage</th>
          <td class="smallc"><%= f.text_field :array_insulation_resistance_test_voltage, placeholder: "Test Voltage", style: 'font-size: 10px; height: 10px; width: 60px;' %></td>
      </tr>
      <tr>
          <th class="small">POS</th>

            <td class="smallc"><%= f.text_field :array_insulation_resistance_pos, placeholder: "POS", style: 'font-size: 10px; height: 10px; width: 60px;' %></td>

      </tr>
      <tr>
        <th class="small">NEG</th>

            <td class="smallc"><%= f.text_field :array_insulation_resistance_neg, placeholder: "NEG", style: 'font-size: 10px; height: 10px; width: 60px;' %></td>

      </tr>
      <tr>
        <th class="small">Array FLIR</th><th class="small">Picture</th>
          <td class="smallc"><%= link_to_function "Select", onclick="$('input[id=string_test_array_module_flir_pic]').click();" ,class: 'btn btn-mini btn-primary' %>
            <%= f.file_field :array_module_flir_pic, style: 'visibility: hidden; height: 11px; width: 1px;' %></td>
      </tr>
    </table>

    <!-- start scripting for File Select -->
    <script type="text/javascript">
      $('input[id=string_test_array_module_flir_pic]').change(function() { $('#photoCover').val($(this).val()); });
    </script>  
    <!-- end -->

    <%= f.submit class: 'btn btn-primary' %>
  <% end %>
</span>
</div>

<!-- %= f.file_field :combiner_exterior_pic, class: "btn btn-file" %> -->
