<div class="row">
  <span class="span7">
    <H2>Reference Number: <%= @pv_commission.reference_number %></h2>
  </span>
  <span class="span2">
    <p class="text-right">
        <%= link_to "Edit", edit_pv_commission_path(@pv_commission), class: "btn btn-small btn-primary" %>
        <%= link_to "Delete", @pv_commission, data: { confirm: "Are you sure you want to permanently delete this PV Commission?" }, class: "btn btn-small btn-danger", method: :delete %>
    </p>
  </span>
</div>
<div class="row">
  <span class="span8">
    <h4>Created on: <%= @pv_commission.created_at.in_time_zone("Pacific Time (US & Canada)").asctime %></h4>
  </span>
</div>


<table class="table table-striped" width=75%>
  <tr>
    <td width=30%><B>Owner:</B></td><td width=70%><%= @pv_commission.owner %></td>
  </tr>
  <tr>
    <td width=30%><B>DC System Size:</B></td><td width=70%><%= @pv_commission.dc_system_size %></td>
  </tr>
  <tr>
    <td width=30%><B>AC System Size:</B></td><td width=70%><%= @pv_commission.ac_system_size %></td>
  </tr>
  <tr>
    <td width=30%><B>Module:</B></td><td width=70%><%= @pv_commission.module_make_model %></td>
  </tr>
  <tr></tr><!--to keep Module and Quantity the same color -->
  <tr>
    <td width=30%><B>Quantity:</B><td width=70%><%= @pv_commission.module_quantity %></td>
  </tr>
  <tr>
    <td width=30%><B>Combiner:</B></td><td width=70%><%= @pv_commission.combiner_make_model %></td>
  </tr>
  <tr>
    <td width=30%><B>Re-Combiner:</B></td><td width=70%><%= @pv_commission.recombiner_make_model %></td>
  </tr>
  <tr>
    <td width=30%><B>Inverter:</B></td><td width=70%><%= @pv_commission.inverter_make_model %></td>
  </tr>
  <tr></tr><!--to keep Inverter and Serial the same color -->
  <tr>
    <td width=30%><B>Serial:</B></td><td width=70%><%= @pv_commission.inverter_serial_number %></td>
  </tr>
  <tr>
    <td width=30%><B>DAS System Manufacturer:</B></td><td width=70%><%= @pv_commission.das_system_manufacturer %></td>
  </tr>
</table>
<br>


<table class="table table-striped">
  <thead>
    <tr>
      <th class="c">Visual Inspection</th><th class="c"><B>PV Array Test</th><th class="c"><B>Inverter Insepction</th>
    </tr>
  </thead>
<!-- the important part -->
<% 0.upto(@rows-1) do |row| %>
  <tr>
    <td class="c">
      
    </td>
    <td class="c">
      <% if @pv_commission.pv_array_tests[row] %>
        <%= link_to "Test: #{@pv_commission.pv_array_tests[row].test_number}", @pv_commission.pv_array_tests[row] %>
      <% else %>

      <% end %>
    </td>
    <td class="c">
      
    </td>
  </tr>
<% end %>
<!-- END the important part -->
  <tr>
    <td class="c">
        <%= link_to "New Visual Inspection", {}, class: "btn btn-small btn-primary" %>
    </td>
    <td class="c">
        <%= link_to "New PV Array Test", new_pv_array_test_path(pv_commission_id: @pv_commission.id), class: "btn btn-small btn-primary" %>
    </td>
    <td class="c">
        <%= link_to "New Inverter Inspection", {}, class: "btn btn-small btn-primary" %>
    </td>
  </tr>
</table>