<%= form_for @project do |f| %>

  <div id="error_explanation">
      <% if @project.errors.any? %>
        <%= render "errors", object: f.object %>
      <% end %>
  </div>

  <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name, autofocus: true %>

      <%= f.label :reference_number %>
      <%= f.text_field :reference_number %>
  </div>

  <%= f.submit class: 'btn btn-primary'  %>
<% end %>