<div class="row">
  <span class="span7">
    <h2>Inverter Inspection: <%= @inverter_inspection.name %></h2>
  </span>
  <span class="span2">
    <p class="text-right">
      <% if current_user.editor || current_user.admin %>
        <%= link_to "Edit", edit_inverter_inspection_path(@inverter_inspection), class: "btn btn-small btn-primary" %>
        <%= link_to "Delete", @inverter_inspection, data: { confirm: "Are you sure you want to permanently delete this Inverter Inspection?" }, class: "btn btn-small btn-danger", method: :delete %>
      <% end %>
    </p>
  </span>
</div>
<div class="row">
  <span class="span9">
    <table class="table table-striped">
      <% @inverter_inspection.infoboxes.each do |inverter_inspection| %>
        <tr>
          <td>
            <h4>
              <%= inverter_inspection.title %>:
            </h4>
            <p>
              <li>
                <%= inverter_inspection.description %>
              </li>
            </p>
            <p>
              <% inverter_inspection.inspection_images.each do |picture| %>
                <%= link_to image_tag(picture.pic_url(:thumb).to_s), picture.pic_url.to_s %>
              <% end %>
            </p>
          </td>
        </tr>
      <% end %>
    </table>
  </span>
</div><br>