<div class="row">
  <span class="span7">
    <h2>PV Array Test: <%= @pv_array_test.test_number %></h2>
  </span>
  <span class="span2">
    <p class="text-right">
        <%= link_to "Edit", edit_pv_array_test_path(@pv_array_test), class: "btn btn-small btn-primary" %>
        <%= link_to "Delete", @pv_array_test, data: { confirm: "Are you sure you want to permanently delete this PV Array Test?" }, class: "btn btn-small btn-danger", method: :delete %>
    </p>
  </span>
</div>

<table class="table table-striped" width=75%>
  <tr>
    <td width=30%><B>Inspector:</B></td><td width=70%><%= @pv_array_test.inspector %></td>
  </tr>
  <tr>
    <td width=30%><B>Verification:</B></td><td width=70%><%= @pv_array_test.initial_verification ? "Initial" : "Periodic" %></td>
  </tr>
  <tr>
    <td width=30%><B>Test Instruments:</B></td><td width=70%><%= @pv_array_test.test_instruments %></td>
  </tr>
  <tr>
    <td width=30%><B>Combiner:</B></td><td width=70%><%= @pv_array_test.combiner %></td>
  </tr>
  <tr>
    <td width=30%><B>MFG:</B></td><td width=70%><%= @pv_array_test.mfg %></td>
  </tr>
</table>

<table class="table table-striped">
  <tr>
    <th class="c">Combiner Exterior Picture</th><th class="c">Combiner Interior Picture</th><th class="c">Combiner FLIR Picture</th>
  </tr>
  <tr>
    <td class="c">
  <%= link_to image_tag(@pv_array_test.combiner_exterior_pic_url(:thumb).to_s), @pv_array_test.combiner_exterior_pic_url.to_s %>
    </td>
    <td class="c">
  <%= link_to image_tag(@pv_array_test.combiner_interior_pic_url(:thumb).to_s), @pv_array_test.combiner_interior_pic_url.to_s %>
    </td>
    <td class="c">
  <%= link_to image_tag(@pv_array_test.combiner_flir_pic_url(:thumb).to_s), @pv_array_test.combiner_flir_pic_url.to_s %>
    </td>
  </tr>
</table>

<% 0.upto(@tables) do |x| %>
<div class="row">
  <% if x == @tables && @string_tests.length % 10 != 0 %>
    <span class="span<%= (((@string_tests.length-x*10)/9.0)*7.0).ceil+2 %>">
  <% else %>
    <span class="span9">
  <% end %>
    <table class="table table-striped" border="1">
      <tr>
        <th class="smallck" colspan="2">String ID:</th>
        <% @string_tests[(x*10)..(x*10+9)].each do |st| %>
          <td class="smallck"><%= st.name %></td>
        <% end %>
      </tr>
      <tr>
        <th class="small" rowspan="2" width=75px>Array</th>
        <th class="small" width=80px>Module</th>
        <% @string_tests[(x*10)..(x*10+9)].each do |st| %>
          <td class="smallc"><%= st.array_module %></td>
        <% end %>
      </tr>
        <tr>
          <th class="small">Quantity</th>
          <% @string_tests[(x*10)..(x*10+9)].each do |st| %>
            <td class="smallc"><%= st.array_quantity %></td>
          <% end %>
        </tr>
      <tr>
        <th class="small" rowspan="2">Array Parameters</th>
        <th class="small">Voc (stc)</th>
        <% @string_tests[(x*10)..(x*10+9)].each do |st| %>
          <td class="smallc"><%= st.array_parameters_voc %></td>
        <% end %>
      </tr>
        <tr>
          <th class="small">Isc (stc)</th>
          <% @string_tests[(x*10)..(x*10+9)].each do |st| %>
            <td class="smallc"><%= st.array_parameters_isc %></td>
          <% end %>
        </tr>
      <tr>
        <th class="small" rowspan="4">String Over-Current Protective Device</th>
        <th class="small">Type</th>
        <% @string_tests[(x*10)..(x*10+9)].each do |st| %>
          <td class="smallc"><%= st.string_type %></td>
        <% end %>
      </tr>
        <tr>
          <th class="small">Rating (A)</th>
          <% @string_tests[(x*10)..(x*10+9)].each do |st| %>
            <td class="smallc"><%= st.string_rating %></td>
          <% end %>
        </tr>
        <tr>
          <th class="small">D Rating (V)</th>
          <% @string_tests[(x*10)..(x*10+9)].each do |st| %>
            <td class="smallc"><%= st.string_d_rating %></td>
          <% end %>
        </tr>
        <tr>
          <th class="small">Capacity (ka)</th>
          <% @string_tests[(x*10)..(x*10+9)].each do |st| %>
            <td class="smallc"><%= st.string_capacity %></td>
          <% end %>
        </tr>
      <tr>
        <th class="small" rowspan="3">Wiring</th>
        <th class="small">Type</th>
        <% @string_tests[(x*10)..(x*10+9)].each do |st| %>
          <td class="smallc"><%= st.wiring_type %></td>
        <% end %>
      </tr>
      <tr>
        <th class="small">Insulation</th>
        <% @string_tests[(x*10)..(x*10+9)].each do |st| %>
          <td class="smallc"><%= st.wiring_insulation %></td>
        <% end %>
      </tr>
      <tr>
        <th class="small">Size</th>
        <% @string_tests[(x*10)..(x*10+9)].each do |st| %>
          <td class="smallc"><%= st.wiring_size %></td>
        <% end %>
      </tr>
      <tr>
        <th class="small" rowspan="4">String Test</th>
        <th class="small">Voc (V)</th>
        <% @string_tests[(x*10)..(x*10+9)].each do |st| %>
          <td class="smallc"><%= st.string_test_voc %></td>
        <% end %>
      </tr>
        <tr>
          <th class="small">Isc (A)</th>
          <% @string_tests[(x*10)..(x*10+9)].each do |st| %>
            <td class="smallc"><%= st.string_test_isc %></td>
          <% end %>
        </tr>
        <tr>
          <th class="small">Irradiance</th>
          <% @string_tests[(x*10)..(x*10+9)].each do |st| %>
            <td class="smallc"><%= st.string_test_irradiance %></td>
          <% end %>
        </tr>
        <tr>
          <th class="small">Voltage</th>
          <% @string_tests[(x*10)..(x*10+9)].each do |st| %>
            <td class="smallc"><%= st.string_test_voltage %></td>
          <% end %>
        </tr>        
      <tr>
        <th class="small" rowspan="3">Array Insulation Resistance</th>
        <th class="small">Test Voltage</th>
        <% @string_tests[(x*10)..(x*10+9)].each do |st| %>
          <td class="smallc"><%= st.array_insulation_resistance_test_voltage %></td>
        <% end %>
      </tr>
      <tr>
          <th class="small">POS</th>
          <% @string_tests[(x*10)..(x*10+9)].each do |st| %>
            <td class="smallc"><%= st.array_insulation_resistance_pos %></td>
          <% end %>
      </tr>
      <tr>
        <th class="small">NEG</th>
          <% @string_tests[(x*10)..(x*10+9)].each do |st| %>
            <td class="smallc"><%= st.array_insulation_resistance_neg %></td>
          <% end %>
      </tr>
      <tr>
        <th class="small">Array FLIR</th><th class="small">Picture</th>
        <% @string_tests[(x*10)..(x*10+9)].each do |st| %>
          <td class="smallc"><%= link_to image_tag(st.array_module_flir_pic_url(:thumb_small).to_s), st.array_module_flir_pic_url.to_s %></td>
        <% end %>
      </tr>
    </table>
</span>
</div>
<% end %>

<div class="row">
  <span class="span2">
    <%= link_to "Add String Test", new_string_test_path(@pv_array_test), class: "btn btn-small btn-primary" %>
  </span>
</div>

<div class="row">
  <span class="span1">
  </span>
</div>

<!--  link_to image_tag(@pv_array_test.combiner_flir_pic_url(:thumb_small).to_s), @pv_array_test.combiner_flir_pic_url.to_s -->