<div class="row">
  <span class="span7">
    <h2>PV Array Test: <%= @pv_array_test.test_number %></h2>
  </span>
  <span class="span2">
    <p class="text-right">
      <button class="btn btn-small btn-primary" type="button">
        <%= link_to "Edit", edit_pv_array_test_path(@pv_array_test), {style: 'color:#FFFFFF;'} %>
      </button>
      <button class="btn btn-small btn-danger" type="button">
        <%= link_to "Delete", @pv_array_test, data: { confirm: "Are you sure you want to permanently delete this PV Array Test?" }, style: 'color:#FFFFFF;', method: :delete %>
      </button>
    </p>
  </span>
</div>

<table class="table table-striped" width=75%>
  <tr>
    <td width=30%><B>Inspector:</B></td><td width=70%><%= @pv_array_test.inspector %></td>
  </tr>
  <tr>
    <td width=30%><B>Verification:</B></td><td width=70%><%= @pv_array_test.initial_verification ? "Initial" : "Periodic" %></td>
  </tr>
  <tr>
    <td width=30%><B>Test Instruments:</B></td><td width=70%><%= @pv_array_test.test_instruments %></td>
  </tr>
  <tr>
    <td width=30%><B>Combiner:</B></td><td width=70%><%= @pv_array_test.combiner %></td>
  </tr>
  <tr>
    <td width=30%><B>MFG:</B></td><td width=70%><%= @pv_array_test.mfg %></td>
  </tr>
</table>

<table class="table table-striped">
  <tr>
    <th class="c">Combiner Exterior Picture</th><th class="c">Combiner Interior Picture</th><th class="c">Combiner FLIR Picture</th>
  </tr>
  <tr>
    <td class="c">
  <%= link_to image_tag(@pv_array_test.combiner_exterior_pic_url(:thumb).to_s), @pv_array_test.combiner_exterior_pic_url.to_s %>
    </td>
    <td class="c">
  <%= link_to image_tag(@pv_array_test.combiner_interior_pic_url(:thumb).to_s), @pv_array_test.combiner_interior_pic_url.to_s %>
    </td>
    <td class="c">
  <%= link_to image_tag(@pv_array_test.combiner_flir_pic_url(:thumb).to_s), @pv_array_test.combiner_flir_pic_url.to_s %>
    </td>
  </tr>
</table>

<table class="table table-striped" border="1">
  <tr>
    <th class="smallck" colspan="2">String ID:</th>
    <td class="smallck">1BC</td><td class="smallck">2BC</td><td class="smallck">3BC</td><td class="smallck">4BC</td><td class="smallck">5BC</td><td class="smallck">6BC</td><td class="smallck">7BC</td><td class="smallck">8BC</td><td class="smallck">9BC</td><td class="smallck">10BC</td>
  </tr>
  <tr>
    <th class="small" rowspan="2" width=75px>Array</th>
    <th class="small" width=80px>Module</th><td class="smallc">Yingli YL-230P</td><td class="smallc">Yingli YL-230P</td><td class="smallc">Yingli YL-230P</td><td class="smallc">Yingli YL-230P</td><td class="smallc">Yingli YL-230P</td><td class="smallc">Yingli YL-230P</td><td class="smallc">Yingli YL-230P</td><td class="smallc">Yingli YL-230P</td><td class="smallc">Yingli YL-230P</td><td class="smallc">Yingli YL-230P</td>
  </tr>
    <tr>
      <th class="small">Quantity</th><td class="smallc">12</td><td class="smallc">12</td><td class="smallc">12</td><td class="smallc">12</td><td class="smallc">12</td><td class="smallc">12</td><td class="smallc">12</td><td class="smallc">12</td><td class="smallc">12</td><td class="smallc">12</td>
    </tr>
  <tr>
    <th class="small" rowspan="2">Array Parameters</th>
    <th class="small">Voc (stc)</th><td class="smallc">475</td><td class="smallc">475</td><td class="smallc">475</td><td class="smallc">475</td><td class="smallc">475</td><td class="smallc">475</td><td class="smallc">475</td><td class="smallc">475</td><td class="smallc">475</td><td class="smallc">475</td>
  </tr>
    <tr>
      <th class="small">Isc (stc)</th><td class="smallc">6.9</td><td class="smallc">6.9</td><td class="smallc">6.9</td><td class="smallc">6.9</td><td class="smallc">6.9</td><td class="smallc">6.9</td><td class="smallc">6.9</td><td class="smallc">6.9</td><td class="smallc">6.9</td><td class="smallc">6.9</td>
    </tr>
  <tr>
    <th class="small" rowspan="4">String Over-Current Protective Device</th>
    <th class="small">Type</th><td class="smallc">PV Fuse</td><td class="smallc">PV Fuse</td><td class="smallc">PV Fuse</td><td class="smallc">PV Fuse</td><td class="smallc">PV Fuse</td><td class="smallc">PV Fuse</td><td class="smallc">PV Fuse</td><td class="smallc">PV Fuse</td><td class="smallc">PV Fuse</td><td class="smallc">PV Fuse</td>
  </tr>
    <tr>
      <th class="small">Rating (A)</th><td class="smallc">12</td><td class="smallc">12</td><td class="smallc">12</td><td class="smallc">12</td><td class="smallc">12</td><td class="smallc">12</td><td class="smallc">12</td><td class="smallc">12</td><td class="smallc">12</td><td class="smallc">12</td>
    </tr>
    <tr>
      <th class="small">D Rating (V)</th><td class="smallc">600</td><td class="smallc">600</td><td class="smallc">600</td><td class="smallc">600</td><td class="smallc">600</td><td class="smallc">600</td><td class="smallc">600</td><td class="smallc">600</td><td class="smallc">600</td><td class="smallc">600</td>
    </tr>
    <tr>
      <th class="small">Capacity (ka)</th><td class="smallc">30</td><td class="smallc">30</td><td class="smallc">30</td><td class="smallc">30</td><td class="smallc">30</td><td class="smallc">30</td><td class="smallc">30</td><td class="smallc">30</td><td class="smallc">30</td><td class="smallc">30</td>
    </tr>
  <tr>
    <th class="small" rowspan="3">Wiring</th>
    <th class="small">Type</th><td class="smallc">Copper</td><td class="smallc">Copper</td><td class="smallc">Copper</td><td class="smallc">Copper</td><td class="smallc">Copper</td><td class="smallc">Copper</td><td class="smallc">Copper</td><td class="smallc">Copper</td><td class="smallc">Copper</td><td class="smallc">Copper</td>
  </tr>
  <tr>
    <th class="small">Insulation</th><td class="smallc">USE-2</td><td class="smallc">USE-2</td><td class="smallc">USE-2</td><td class="smallc">USE-2</td><td class="smallc">USE-2</td><td class="smallc">USE-2</td><td class="smallc">USE-2</td><td class="smallc">USE-2</td><td class="smallc">USE-2</td><td class="smallc">USE-2</td>
  </tr>
  <tr>
    <th class="small">Size</th><td class="smallc">#10 awg</td><td class="smallc">#10 awg</td><td class="smallc">#10 awg</td><td class="smallc">#10 awg</td><td class="smallc">#10 awg</td><td class="smallc">#10 awg</td><td class="smallc">#10 awg</td><td class="smallc">#10 awg</td><td class="smallc">#10 awg</td><td class="smallc">#10 awg</td>
  </tr>
  <tr>
    <th class="small" rowspan="3">String Test</th>
    <th class="small">Voc (V)</th><td class="smallc">465</td><td class="smallc">465</td><td class="smallc">465</td><td class="smallc">465</td><td class="smallc">465</td><td class="smallc">465</td><td class="smallc">465</td><td class="smallc">465</td><td class="smallc">465</td><td class="smallc">465</td>
  </tr>
    <tr>
      <th class="small">Isc (A)</th><td class="smallc">6.56</td><td class="smallc">6.56</td><td class="smallc">6.56</td><td class="smallc">6.56</td><td class="smallc">6.56</td><td class="smallc">6.56</td><td class="smallc">6.56</td><td class="smallc">6.56</td><td class="smallc">6.56</td><td class="smallc">6.56</td>
    </tr>
    <tr>
      <th class="small">Irradiance</th><td class="smallc">826</td><td class="smallc">826</td><td class="smallc">826</td><td class="smallc">826</td><td class="smallc">826</td><td class="smallc">826</td><td class="smallc">826</td><td class="smallc">826</td><td class="smallc">826</td><td class="smallc">826</td>
    </tr>
  <tr>
    <th class="small" rowspan="3">Array Insulation Resistance</th>
    <th class="small">Test Voltage</th><td class="smallc">500</td><td class="smallc">500</td><td class="smallc">500</td><td class="smallc">500</td><td class="smallc">500</td><td class="smallc">500</td><td class="smallc">500</td><td class="smallc">500</td><td class="smallc">500</td><td class="smallc">500</td>
  </tr>
  <tr>
      <th class="small">POS</th><td class="smallc"><0.05</td><td class="smallc"><0.05</td><td class="smallc"><0.05</td><td class="smallc"><0.05</td><td class="smallc"><0.05</td><td class="smallc"><0.05</td><td class="smallc"><0.05</td><td class="smallc"><0.05</td><td class="smallc"><0.05</td><td class="smallc"><0.05</td>
  </tr>
  <tr>
    <th class="small">NEG</th><td class="smallc"><0.05</td><td class="smallc"><0.05</td><td class="smallc"><0.05</td><td class="smallc"><0.05</td><td class="smallc"><0.05</td><td class="smallc"><0.05</td><td class="smallc"><0.05</td><td class="smallc"><0.05</td><td class="smallc"><0.05</td><td class="smallc"><0.05</td>
  </tr>
  <tr>
    <th class="small">Array FLIR</th><th class="small">Picture</th><td><%= link_to image_tag(@pv_array_test.combiner_flir_pic_url(:thumb_small).to_s), @pv_array_test.combiner_flir_pic_url.to_s %></td><td><%= link_to image_tag(@pv_array_test.combiner_flir_pic_url(:thumb_small).to_s), @pv_array_test.combiner_flir_pic_url.to_s %></td><td><%= link_to image_tag(@pv_array_test.combiner_flir_pic_url(:thumb_small).to_s), @pv_array_test.combiner_flir_pic_url.to_s %></td><td><%= link_to image_tag(@pv_array_test.combiner_flir_pic_url(:thumb_small).to_s), @pv_array_test.combiner_flir_pic_url.to_s %></td><td><%= link_to image_tag(@pv_array_test.combiner_flir_pic_url(:thumb_small).to_s), @pv_array_test.combiner_flir_pic_url.to_s %></td><td><%= link_to image_tag(@pv_array_test.combiner_flir_pic_url(:thumb_small).to_s), @pv_array_test.combiner_flir_pic_url.to_s %></td><td><%= link_to image_tag(@pv_array_test.combiner_flir_pic_url(:thumb_small).to_s), @pv_array_test.combiner_flir_pic_url.to_s %></td><td><%= link_to image_tag(@pv_array_test.combiner_flir_pic_url(:thumb_small).to_s), @pv_array_test.combiner_flir_pic_url.to_s %></td><td><%= link_to image_tag(@pv_array_test.combiner_flir_pic_url(:thumb_small).to_s), @pv_array_test.combiner_flir_pic_url.to_s %></td><td><%= link_to image_tag(@pv_array_test.combiner_flir_pic_url(:thumb_small).to_s), @pv_array_test.combiner_flir_pic_url.to_s %></td>
  </tr>
</table>

<!--  t.string :array_module
      t.string :array_quantity
      t.string :array_parameters_voc
      t.string :array_parameters_isc
      t.string :string_type
      t.string :string_rating
      t.string :string_d_rating
      t.string :string_capacity
      t.string :wiring_type
      t.string :wiring_insulation
      t.string :wiring_size
      t.string :string_test_voc
      t.string :string_test_isc
      t.string :string_test_irradiance
      t.string :array_insulation_resistance_test_voltage
      t.string :array_insulation_resistance_pos
      t.string :array_insulation_resistance_neg
      t.string :array_module_flir_pic -->